<div class="mobile-header visible-xs">
    <div class="back-button"><a href="#/"><img ng-src="{{routePrefix}}/static/img/back_button.png"/></a></div>
    <div class="header-title">{{ 'PASSWORD' | translate }}</div>
    <div class="nav-open"><a href=""><img ng-src="{{routePrefix}}/static/img/nav_open.png"/></a></div>
</div>

<div class="tile-container">
    <div class="row">
        <div class="col-xs-12 tile-col">
            <div class="tile-title hidden-xs">{{ 'PASSWORD' | translate }}</div>
            <div class="tile" style="padding-top: 30px;padding-bottom: 60px;">
                <div class="tile-content-white settings-white-tile">
                    {{ 'PASSWORD_SECURITY_ACTIVE' | translate }}

                    <div class="flush-switch" ng-class="{'inactive':!passwordEnabled}">
                        <input
                                bs-switch
                                ng-model="passwordEnable"
                                type="checkbox"
                                class="my-slider"
                                switch-active="{{ isActive }}"
                                switch-on-color="{{ onColor }}"
                                switch-off-color="{{ offColor }}"
                                switch-on-text=" "
                                switch-off-text=" "
                                switch-animate="{{ animate }}"
                                switch-size="{{ size }}"
                                switch-label="{{ label }}"
                                switch-icon="vertical-bar">
                    </div>

                </div>
                <div class="tile-content-white settings-white-tile" ng-show="passwordEnabled == true">
                    <div class="form-container">
                        <div class="errors" ng-show="passwordMatch == false">
                            <p class="alert alert-danger">{{ 'PASSWORD_ERROR' | translate }}</p>
                        </div>

                        <div class="success" ng-show="passwordMatch == true">
                            <p class="alert alert-success">{{ 'PASSWORD_SAVED' | translate }}</p>
                        </div>

                        <form id="password-form" action="">
                            <input class="form-control password-input" type="text" id="username"
                                   placeholder="{{ 'USERNAME' | translate }}"/>
                            <input class="form-control password-input" type="password" id="password-first"
                                   placeholder="{{ 'PASSWORD' | translate }}"/>

                            <input class="form-control password-input" type="password" id="password-repeat"
                                   placeholder="{{ 'PASSWORD_REPEAT' | translate }}"/>


                            <div class="save-button" ng-click="savePassword()">
                                {{ 'SAVE' | translate }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
